
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/web-otel/styles.css">

</head>
<body>
    <header class="header">
        <ul class="nav-left display-none-mobile">
            <li><a href="~/web-otel/HAKKIMIZDA/anasayfa.html">Hakkımızda</a></li>
        </ul>
        <div class="logo-container">
            <img src="~/Content/logo.png" width="1250px" height="600px" align="center" />
            <span class="toggle-btn">&#9776;</span>
        </div>
        <ul class="nav-right display-none-mobile">
            <li><a href="~/WebForm1.aspx">Rezervasyon</a></li>
        </ul>
    </header>

    <header class="main-header">

        <div class="content">
            <h1> Aurelius Hotel</h1>
            <p class="subtitle">Aurelius’ta Her Gün Doğaya Açılan Bir Sayfa</p>
        </div>

    </header>
    <section>
        <div class="icon-container">
            <div>
                <i class="fa-solid fa-bell-concierge"></i>
                <h3>Room Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <i class="fa-solid fa-utensils"></i>
                <h3>Restaurant Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <i class="fa-solid fa-spa"></i>
                <h3>Spa Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>

    </section>
    <section>
        <div class="icon-container">
            <div>
                <i class="fa-solid fa-bus-simple"></i>
                <h3>Transfer Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <i class="fa-solid fa-mug-saucer"></i>
                <h3>Restaurant Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <i class="fa-solid fa-bed"></i>
                <h3>Room Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </section>
    <section>
        <div>
            <p class="gallery-title">Otelimizdeki Yerler</p>
            <p class="subtitle2">Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
        <div class="flex-container">
            
            <img class="animasyon" src="~/web-otel/img/anasayfa1.jpg">
            <img class="animasyon" src="https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&w=1600">
            <img class="animasyon" src="https://images.pexels.com/photos/1838554/pexels-photo-1838554.jpeg?auto=compress&cs=tinysrgb&w=1600">
            <img class="animasyon" src="https://images.pexels.com/photos/271619/pexels-photo-271619.jpeg?auto=compress&cs=tinysrgb&w=1600">

        </div>
        <div class="flex-container">
            <img class="animasyon" src="https://images.pexels.com/photos/261181/pexels-photo-261181.jpeg?auto=compress&cs=tinysrgb&w=1600">
            <img class="animasyon" src="https://images.pexels.com/photos/261388/pexels-photo-261388.jpeg?auto=compress&cs=tinysrgb&w=1600">
            <img class="animasyon" src="https://images.pexels.com/photos/221457/pexels-photo-221457.jpeg?auto=compress&cs=tinysrgb&w=1600">
            <img class="animasyon" src="https://images.pexels.com/photos/1134176/pexels-photo-1134176.jpeg?auto=compress&cs=tinysrgb&w=1600">
        </div>
    </section>

    <section class="card-section">
        <div class="card-title">
            <h2>CSS Card</h2>
            <p class="subtitle2">Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
        <div class="card-container">
            <div class="card">
                <img src="https://images.pexels.com/photos/262047/pexels-photo-262047.jpeg?auto=compress&cs=tinysrgb&w=1600" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/161758/governor-s-mansion-montgomery-alabama-grand-staircase-161758.jpeg?auto=compress&cs=tinysrgb&w=1600" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/277572/pexels-photo-277572.jpeg?auto=compress&cs=tinysrgb&w=1600" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </section>

    <section class="person-section">
        <div class="card-title">
            <h2>Personellerimizin Fotoğrafları</h2>
            <p class="subtitle2">Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
        <div class="card-container">
            <div class="card2">
                <img src="~/web-otel/img/eren.jpg" />
                <p>Eren Aydın</p>
            </div>
            <div class="card2">
                <img src="~/web-otel/img/berkay.jpg" />
                <p>Berkay Enes Fidan</p>
            </div>
            <div class="card2">
                <img src="~/web-otel/img/sefa.jpg" />
                <p>Sefa Kartal</p>
            </div>
            <div class="card2">
                <img src="~/web-otel/img/emirhanv2.jpg" />
                <p>Emirhan Öztürk</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="flex-container4">
            <div class="logo">
                <i class="fas fa-hotel"></i>
                <span>Astra Urban</span> Hotel
                <p class="footer-paragraf">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="footer-paragraf">Sed Cursus risus at ultrices mi tempus imperdiet.</p>
                <div>
                    <div class="scMedia-icons">
                        <i class="fa-brands fa-instagram" style="color: red;"></i>
                        <i class="fa-brands fa-facebook" style="color: #3b5998;"></i>
                        <i class="fa-brands fa-youtube" style="color: #e62117;"></i>
                        <i class="fa-brands fa-twitter" style="color: #08a0e9;"></i>
                    </div>

                </div>
            </div>
            <div>
                <p>Home</p>
                <p>About</p>
                <p>Rooms</p>
                <p>Blogs</p>
                <p>Contact</p>
            </div>
            <div>
                <p>Anasayfa</p>
                <p>Hakkımızda</p>
                <p>Odalar</p>
                <p>Bloglar</p>
                <p>İletişim</p>
            </div>
            <div>
                <p>Sanal Tur</p>
                <p>E-katalog</p>
                <p>Çerez Politikası</p>
                <p>KVK ve Gizlilik Politikası</p>
                <p>Kullanım Koşulları</p>
            </div>
        </div>
        <p class="footer-copy">Copyright © 2023 - Minimalist Hotel Site</p>
    </footer>
    
        <script src="~/web-otel/javas.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
</body>

</html>
